{% load i18n %}
{% load filters %}
{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="9E-iNufNQoz4lnuAckv98az2Ly2qXw9Tl4YFhuCCPZo" />
    <link rel="icon" href="{% static "img/favicon.ico" %}">
    <link href="{% static "css/jquery-ui.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-multiselect.css" %}" rel="stylesheet">
    <link href="{% static "css/base_site.css" %}" rel="stylesheet">

    <title>{% block title %}Betty - Education{% endblock %}</title>
    <script type="text/javascript">
        window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
          heap.load("1861632399");
    </script>
</head>

<body>
<div id="header">
    {% block header %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img class="pull-left navbar-brand" src="https://storage.googleapis.com/betty_education/images/betty_logo_small.png">
                    <a class="navbar-brand" href="#">Betty at {{ user.userprofile.company.name }}</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
                        {% block nav %}
                            {% if user.is_staff %}
                                <li><a href="{% url 'registration_register' %}">{% trans "Sign Up Company" %}</a></li>
                            {% endif %}
                            {% if user|has_role:'admin' or user|has_role:'manager' %}
                                <li><a href="{% url 'user_create' %}">{% trans "Create User" %}</a></li>
                                <li><a id="clients_navbar" href="{% url 'client_list' %}">{% trans "Clients" %}</a></li>
                                <li><a id="students_navbar" href="{% url 'student_list' %}">{% trans "Students" %}</a></li>
                                <li><a id="teachers_navbar" href="{% url 'teacher_list' %}">{% trans "Teachers" %}</a></li>
                            {% endif %}
                            {% if user|has_role:'admin' or user|has_role:'manager' or user|has_role:'teacher' or user|has_role:'sales' %}
                                <li><a id="courses_navbar"  href="{% url 'course_list' %}">{% trans "Courses" %}</a></li>
                            {% endif %}
                        {% endblock %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a href="#">{% trans "Logged in" %}: {{ user.username }}</a></li>
                            <li><a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a></li>
                            <li><a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a></li>
                        {% else %}
                            <li><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->

            </div>
        </nav>
    {% endblock %}
</div>





<div id="content">
    {% block content %}{% endblock %}
</div>

<div id="footer">
    {% block footer %}
        <hr />
    {% endblock %}
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<script src="{% static "js/bootstrap-multiselect.js" %}"></script>
<script src="{% static "js/site.js" %}"></script>
</body>

</html>
