{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="container-fluid form-signin">
        <form  method="post" action=".">
            <h2 class="form-signin-heading">Please sign in</h2>
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="{% trans 'Log in' %}" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>

        <p>{% trans "Forgot password" %}? <a href="mailto:support@bettyeducation.co" target="_blank">{% trans "Contact Support" %}</a>!</p>
{#        <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>#}

    </div>

{% endblock %}