{% load filters %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Incomplete Scores!' %} - {% trans 'Course Details' %} - {{ course.code }}</h1>

    <p>
    Hi {{ course.teacher.name }}!
    </p>

    <p>
    A manager attempted to end the course you taught, but they were unable to!
    </p>

    <p>
    Please remember to complete scoring for the students in course: <a href="{% url 'course_detail' course.id %}">{{ course.code }}</a>.
    </p>

    {% if period %}
        <p>
        Particularly make sure to fill out the scores for the period: {{ period }}
        </p>
    {% endif %}

    <p>
    Have a good day!
    </p>

    <p>
    Betty
    </p>

{% endblock %}
