{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>Create Activity</h1>
    <p>{% trans 'This creates an activity for each of the students in the current course.' %}</p>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="{% trans 'Submit' %}" />
    </form>
{% endblock %}
