{% extends "base.html" %}
{% load filters %}
{% load i18n %}

{% block content %}
<h1>Activity Detail</h1>
<h1>Activity Name: {{ activity.name }}</h1>
<p>Type: {{ activity.type }}</p>
<p>Score: {{ activity.score }}</p>
<p>Student: {{ activity.student.name }}</p>
<p>Course: {{ activity.course.code }}</p>

<a href="{% url 'activity_update' 1 activity.id %}">Edit Activity</a>
<a href="{% url 'activity_delete' activity.id %}">Delete Activity</a>
{% endblock %}
