{% extends "base.html" %}
{% load filters %}
{% load i18n %}

{% block content %}
<h1>Activities</h1>
{#{% if user|has_role:'manager' or user|has_role:'admin' %}#}
{#    <a href="{% url 'activity_create' %}">{% trans "Create Activity" %}</a>#}
{#{% endif %}#}
<ul>
{% for activity in object_list %}
    <li><a href="{% url 'activity_detail' activity.id %}">{{ activity.name }} - {{ activity.type }} - {{ activity.course.code }} - {{ activity.student.name }}</a></li>
{% empty %}
    <li>No Activities yet.</li>
{% endfor %}
</ul>
{% endblock %}
