{% extends "base.html" %}
{% load i18n %}
{% load filters %}

{% block content %}
    <h1>Activity Edit</h1>
    <a href="{% url 'course_detail' form.course %}">{% trans "Back to Course" %}</a>
    <form method="post" action=".">
        {% csrf_token %}
        {% if object.type == 'feedback' or object.type == 'period_feedback' %}
            {{ form.comment.errors }}
            {{ form.comment.label_tag }}
            {{ form.comment }}
        {% else %}
            {{ form.score.errors }}
            {{ form.score.label_tag }}
            {{ form.score }}
        {% endif %}
        <input type="submit" value="{% trans 'Update' %}" />
    </form>
{% endblock %}
