{% extends "base.html" %}
{% load i18n %}
{% load filters %}

{% block content %}
    <h1 class="text-center">Client Edit</h1>
    <form method="post" action=".">
    {% csrf_token %}
    <form role=”form“ method="post" action=".">
        {% csrf_token %}

        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}">Client Company Name</label>
            {{ form.name|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.address.errors }}
            <label for="{{ form.address.id_for_label }}">Address:</label>
            {{ form.address|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.contact_name.errors }}
            <label for="{{ form.contact_name.id_for_label }}">Contact Name (HR):</label>
            {{ form.contact_name|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.contact_email.errors }}
            <label for="{{ form.contact_email.id_for_label }}">Contact Email (HR Reports)</label>
            {{ form.contact_email|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.notifications_active.errors }}
            <label for="{{ form.notifications_active.id_for_label }}">Send Notifications?</label>
            {{ form.notifications_active|add_css:"form-control" }}
        </div>

        <div class="form-group">
            {{ form.sales_associates.errors }}
            <label for="{{ form.sales_associates.id_for_label }}">Sales Associates</label>
            {{ form.sales_associates|add_css:"form-control multiselect_field" }}
        </div>

        <div class="center-block btn-group-vertical">
            <input id="update_btn" class="btn btn-success" type="submit" value="{% trans 'Update' %}" />
            <a class="btn btn-default" href="{% url 'client_detail' client.id %}">{% trans "Cancel" %}</a>
        </div>

    </form>

{% endblock %}
