{% extends "base.html" %}
{% load filters %}
{% load i18n %}

{% block content %}
    <div class="container-fluid">
        <h1 class="text-center">Clients</h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>{% trans 'Client Name' %}</th>
                    <th>{% trans 'Contact Name' %}</th>
                    <th>{% trans 'Contact Email' %}</th>
                    <th>{% trans 'Notifications' %}</th>
                    <th>{% trans 'Actions' %}</th>
                </tr>
                {% for client in object_list %}
                    <tr>
                        <td id="name">{{ client.name }}</td>
                        <td id="contact_name">{{ client.contact_name }}</td>
                        <td id="contact_email">{{ client.contact_email }}</td>
                        <td id="contact_notifications">{{ client.notifications_active }}</td>
                        <td><a id="details_btn" class="btn btn-default" href="{% url 'client_detail' client.id %}">View Details</a></td>
                    </tr>

                {% empty %}
                    <tr><td>No Clients yet.</td></tr>
                {% endfor %}
            </table>
        </div>
        {% if user|has_role:'manager' or user|has_role:'admin' %}
            <div class="center-block btn-group-vertical">
                <a id="create_btn" class="btn btn-success" href="{% url 'client_create' %}">{% trans "Create Client" %}</a>
            </div>
        {% endif %}
    </div>

{% endblock %}
