{% extends "base.html" %}
{% load filters %}
{% load i18n %}

{% block content %}
    <div class="container-fluid">
        <h1 class="text-center" id="title">Client Details - {{ client.name }}</h1>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td id="name">{{ client.name }}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td id="address">{{ client.address }}</td>
                </tr>
                <tr>
                    <td>Client Contact</td>
                    <td id="contact_name">{{ client.contact_name }}</td>
                </tr>
                <tr>
                    <td>Client Email</td>
                    <td id="email">{{ client.contact_email }}</td>
                </tr>
                <tr>
                    <td>Notifications Active</td>
                    <td id="name">{{ client.notifications_active }}</td>
                </tr>
                <tr>
                    <td>Sales Associates</td>
                    <td id="name">
                        {% for associate in client.sales_associates.all %}
                            {% if associate.first_name %}
                                {{ associate.first_name }} {{ associate.last_name }}
                            {% else %}
                                {{ associate }}
                            {% endif %}
                            {% if forloop.counter < client.sales_associates.count %},
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="center-block btn-group-vertical">
            <a class="btn btn-default" href="{% url 'client_list' %}">Back to Client List</a>
            <a id="edit_btn" class="btn btn-default" href="{% url 'client_update' client.id %}">Edit Client</a>
            <a id="delete_btn" class="btn btn-danger" href="{% url 'client_delete' client.id %}">Delete Client</a>
        </div>
    </div>
{% endblock %}
