{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1 class="text-center">Delete</h1>
<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input id="confirm_btn" type="submit" value="Confirm" />
</form>
{% endblock %}
