{% extends "base.html" %}
{% load filters %}
{% load i18n %}

{% block content %}
    <div class="container-fluid">
        <h1 id="code" class="text-center">{% trans 'Course Details' %} - {{ course.code }}</h1>

        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <td><b>{% trans 'Level' %}</b></td>
                    <td id="level">{{ course.level }}</td>
                </tr>
                <tr>
                    <td><b>{% trans 'Client' %}</b></td>
                    <td id="client">{{ course.client }}</td>
                </tr>
                <tr>
                    <td><b>{% trans 'Address' %}</b></td>
                    <td id="address">{{ course.address }}</td>
                </tr>
                <tr>
                    <td><b>{% trans 'Schedule' %}</b></td>
                    <td id="schedule">{{ course.schedule }}</td>
                </tr>
                <tr>
                    <td><b>{% trans 'Start Date' %}</b></td>
                    <td id="start_date">{{ course.start_date | date }}</td>
                </tr>
                <tr>
                    <td><b>{% trans 'End Date' %}</b></td>
                    <td id="end_date">{{ course.end_date | date }}</td>
                </tr>
                <tr>
                    <td><b>{% trans 'Teacher' %}</b></td>
                    <td id="teacher">{{ course.teacher }}</td>
                </tr>
                <tr>
                    <td><b>{% trans 'Duration' %}</b></td>
                    <td id="duration">{{ course.duration }}</td>
                </tr>
            </table>
        </div>

        {% for period in periods %}

            <h1 class="text-center period_title">{% trans 'Course Skills for Period ' %} {{ period }}</h1>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-responsive">
                    <tr>
                        <th class="text-center">{% trans 'Student' %}</th>
                        <th class="text-center">{% trans 'Email' %}</th>
                        {% for title in skill_titles %}
                            <th class="text-center">{% trans title %}</th>
                        {% endfor %}
                    </tr>
                    {% for student in course_students %}
                        <tr>
                            <td class="text-center vcenter">{{ student.name }}</td>
                            <td class="text-center vcenter"><a href="mailto:{{ student.email }}" target="_blank"><span data-toggle="tooltip" data-placement="bottom" title="{{student.email}}" class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></td>
                            {% for activity in activities|get_item:student.id %}
                                {% if activity.period == period %}
                                    <td class="text-center vcenter">
                                        {% if activity.type in 'skill' %}

                                            <ul class="list-inline">
                                                <li data-toggle="tooltip" data-placement="bottom" title="{{skill_range}}" >
                                                    <input size="5"
                                                           data-course="{{ course.id }}"
                                                           data-activity="{{ activity.id }}"
                                                           maxlength="100"
                                                           name="score"
                                                           type="text"
                                                           onchange="update_activity(this, '{% url 'activity_update' course.id activity.id %}', {{ period.id }})"
                                                            {% if not period.is_active %} disabled="disabled" {% endif %}
                                                           value="{% if activity.score != None %} {{ activity.score }} {% endif %}">
                                                </li>
                                                <li>
                                                    <div class="glyphicon glyphicon-check text-success" id="alert_{{ activity.id }}" class="alert" id="alert_success" role="alert" style="display: none;">
                                                        <span id="message"></span>
                                                    </div>
                                                </li>
                                            </ul>
                                        {% elif activity.type in 'period_feedback' %}
                                            <ul class="list-inline">
                                                <li>
                                                    {% if period.is_active %}
                                                        <button class="btn btn-success" onclick="showComment({{activity.id}}, this)">Add Comment</button>
                                                    {% endif %}
                                                    <textarea id="{{ activity.id }}"
                                                            {% if period.is_active %} class="hidden" {% endif %}
                                                              data-course="{{ course.id }}"
                                                              data-activity="{{ activity.id }}"
                                                              maxlength="500"
                                                              name="period_comment"
                                                              type="text"
                                                              onchange="update_activity(this, '{% url 'activity_update' course.id activity.id %}', {{ period.id }})"
                                                            {% if not period.is_active %} disabled="disabled" {% endif %}
                                                              data-toggle="tooltip" data-placement="bottom" title="{{activity.comment}}">{% if activity.comment != None %}{{ activity.comment }}{% endif %}</textarea>
                                                </li>
                                                <li>
                                                    <div class="glyphicon glyphicon-check text-success" id="alert_{{ activity.id }}" class="alert" id="alert_success" role="alert" style="display: none;">
                                                        <span id="message"></span>
                                                    </div>
                                                </li>
                                            </ul>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="center-block btn-group-vertical">
                {% if user|has_role:'manager' or user|has_role:'admin' %}
                    <a data-toggle="tooltip"
                       data-placement="top"
                       title="{% trans "Editing this period will allow you to change its start and end dates." %}"
                       class="btn btn-default edit_period_btn""
                       href="{% url 'period_update' period.id %}">
                        {% trans "Edit Period" %}
                    </a>
                    <a data-toggle="tooltip"
                       data-placement="top"
                       title="{% trans "Deleting this period will remove it from this course!" %}"
                       class="btn btn-default delete_period_btn"
                       href="{% url 'period_delete' period.id %}">
                        {% trans "Delete Period" %}
                    </a>
                    {% if period.is_active %}
                        {% if period.is_in_buffer %}
                            <div data-toggle="tooltip"
                                 data-placement="top"
                                 title="{% trans "Ending the period will send Student, Client and Manager reports." %}"
                                 class="btn btn-default"
                                 onclick="end_period('{% url 'end_period' course.id period.id %}', {{ period.id }})">
                                {% trans "End Period" %}
                            </div>
                        {% else %}
                            <div class="center-block text-center">{% trans 'This period cannot be ended yet.' %}</div>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <div class="center-block text-center">{% trans 'The previous period has ended.' %}</div>
                {% endif %}
            </div>
            <div class="alert alert-warning" id="alert_error_{{ period.id }}" role="alert" style="display: none;">
            <span>
                <p id="message"></p>
            </span>
            </div>
            <div class="alert alert-success" id="alert_success_{{ period.id }}" role="alert" style="display: none;">
            <span>
                <p id="message"></p>
            </span>
            </div>
        {% endfor %}


        <h1 class="text-center">{% trans 'Course Tests & Projects' %}</h1>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-responsive">
                <tr>
                    <th class="text-center">{% trans 'Student' %}</th>
                    <th class="text-center">{% trans 'Email' %}</th>
                    {% for title in titles %}
                        <th class="text-center">{% trans title %}</th>
                    {% endfor %}
                </tr>
                {% for student in course_students %}
                    <tr>
                        <td class="text-center vcenter">{{ student.name }}</td>
                        <td class="text-center vcenter"><a href="mailto:{{ student.email }}" target="_blank"><span data-toggle="tooltip" data-placement="bottom" title="{{student.email}}" class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></td>
                        {% for activity in activities|get_item:student.id %}

                            {% if activity.type in 'test'%}
                                <td>
                                    <ul class="list-inline">
                                        <li data-toggle="tooltip" data-placement="bottom" title="{% if activity.name not in 'Attendance' %}{{test_range}}{% else %}{{attendance_range}}{% endif %}" >
                                            <input data-course="{{ course.id }}"
                                                   data-activity="{{ activity.id }}"
                                                   maxlength="100"
                                                   name="score"
                                                   type="text"
                                                   onchange="update_activity(this, '{% url 'activity_update' course.id activity.id %}')"
                                                   value="{% if activity.score != None %} {{ activity.score }} {% endif %}">
                                        </li>
                                        <li>
                                            <div class="glyphicon glyphicon-check text-success" id="alert_{{ activity.id }}" class="alert" id="alert_success" role="alert" style="display: none;">
                                                <span id="message"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            {% elif activity.type in 'pass/fail' %}
                                <td>
                                    {% if activity.score != None %}
                                        {% if activity.score == 1 %}
                                            <b class="pass">Pass</b>
                                        {% else %}
                                            <b class="fail">Fail</b>
                                        {% endif %}
                                    {% else %}
                                        {% trans 'Calculated' %}
                                    {% endif %}
                                </td>
                            {% elif activity.type in 'total' %}
                                <td>
                                    {% if activity.score != None %}
                                        <b>{{ activity.score }}</b>
                                    {% else %}
                                        {% trans 'Calculated' %}
                                    {% endif %}
                                </td>
                            {% elif activity.type in 'feedback' %}
                                <td>
                                    <ul class="list-inline">
                                        <li>
                                        <textarea id="{{ activity.id }}"
                                                  data-course="{{ course.id }}"
                                                  data-activity="{{ activity.id }}"
                                                  maxlength="500"
                                                  name="period_comment"
                                                  type="text"
                                                  onchange="update_activity(this, '{% url 'activity_update' course.id activity.id %}', {{ period.id }})"
                                                  data-toggle="tooltip" data-placement="bottom" title="{{activity.comment}}">{% if activity.comment != None %}{{ activity.comment }}{% endif %}</textarea>
                                        </li>
                                        <li>
                                            <div class="glyphicon glyphicon-check text-success" id="alert_{{ activity.id }}" class="alert" id="alert_success" role="alert" style="display: none;">
                                                <span id="message"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            {% endif %}

                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="alert alert-warning" id="alert_error" role="alert" style="display: none;">
        <span>
            <p id="message"></p>
        </span>
        </div>
        <div class="alert alert-success" id="alert_success" role="alert" style="display: none;">
        <span>
            <p id="message"></p>
        </span>
        </div>


        <div class="center-block btn-group-vertical">
            {#        @todo:gustavo activity creation needs to conform to period activities #}
            {#            {% if user|has_role:'manager' or user|has_role:'admin' or user|has_role:'teacher' %}#}
            {#                {% if course.is_active %}#}
            {#                    <a class="btn btn-default" href="{% url 'activity_create' course.id %}">{% trans "Create Activity" %}</a>#}
            {#                {% endif %}#}
            {#            {% endif %}#}
            {% if user|has_role:'manager' or user|has_role:'admin' %}
                {#                @todo:gustavo @ticket: make sure updating the end date of a course takes care of updating the periods and their activities.#}
                <a data-toggle="tooltip"
                   data-placement="top"
                   title="{% trans "Add Period" %}"
                   class="btn btn-default add_period_btn"
                   href="{% url 'period_create' course.id %}">
                    {% trans "Add Period" %}
                </a>
                {% if course.is_active %}
                    <a id="edit_btn" class="btn btn-default" href="{% url 'course_update' course.id %}">Edit Course</a>
                {% endif %}
                <a id="delete_btn" class="btn btn-danger" href="{% url 'course_delete' course.id %}">Delete Course</a>
            {% endif %}

        </div>

        <div class="center-block btn-group-vertical">
            {% if user|has_role:'manager' or user|has_role:'admin' %}
                {% if course.is_over %}
                    <div data-toggle="tooltip"
                         data-placement="top"
                         title="{% trans "Ending the course will send Student, Client and Manager reports." %}"
                         class="btn btn-default"
                         onclick="end_course('{% url 'end_course' course.id %}')">
                        {% trans "End Course" %}
                    </div>
                {% endif %}
                <a class="btn btn-default" href="mailto:{% for student in course_students %}{{ student.email }},{% endfor %}" target="_blank">{% trans "Email All Students" %}</a>

                <div data-toggle="tooltip"
                     data-placement="top"
                     title="{% trans "Sends a welcome email to all students." %}"
                     class="btn btn-default"
                     onclick="start_course('{% url 'start_course' course.id %}')">
                    {% trans "Send Welcome Email" %}
                </div>

            {% endif %}
            <a class="btn btn-default" href="{% url 'course_list' %}">{% trans "Back to Course List" %}</a>
        </div>
    </div>
{% endblock %}
