{% extends "base.html" %}
{% load i18n %}
{% load filters %}

{% block content %}

    <form method="post" action=".">
        {% csrf_token %}
        <h1 class="text-center">Edit Course - {{ course.code }}</h1>
        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.level.errors }}
            <label for="{{ form.level.id_for_label }}">Course Level</label>
            {{ form.level|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.client.errors }}
            <label for="{{ form.client.id_for_label }}">Course Client</label>
            {{ form.client|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.address.errors }}
            <label for="{{ form.address.id_for_label }}">Course Address (Where the class will take place)</label>
            {{ form.address|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.schedule.errors }}
            <label for="{{ form.schedule.id_for_label }}">Course Schedule (e.g. Every Thursday at 5pm)</label>
            {{ form.schedule|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.start_date.errors }}
            <label for="{{ form.start_date.id_for_label }}">Course Start Date</label>
            {{ form.start_date|add_css:"form-control datepicker" }}
        </div>
        <div class="form-group">
            {{ form.end_date.errors }}
            <label for="{{ form.end_date.id_for_label }}">Course End Date</label>
            {{ form.end_date|add_css:"form-control datepicker" }}
        </div>
        <div class="form-group">
            {{ form.students.errors }}
            <label for="{{ form.students.id_for_label }}">Enrolled Students</label>
            {{ form.students|add_css:"form-control multiselect_field" }}
        </div>
        <div class="form-group">
            {{ form.teacher.errors }}
            <label for="{{ form.teacher.id_for_label }}">Course Teacher</label>
            {{ form.teacher|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.duration.errors }}
            <label for="{{ form.duration.id_for_label }}">Course Duration</label>
            {{ form.duration|add_css:"form-control" }}
        </div>
        <div class="center-block btn-group-vertical">
            <input id="update_btn" class="btn btn-success" type="submit" value="{% trans 'Update Course' %}" />
            <a class="btn btn-default" href="{% url 'course_detail' course.id %}">{% trans "Back to Course Details" %}</a>
        </div>
    </form>
{% endblock %}
