{% extends "base.html" %}
{% load filters %}
{% load i18n %}

{% block content %}
    <div class="container-fluid">
        <h1 class="text-center">Courses</h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>{% trans 'Course Code' %}</th>
                    <th>{% trans 'Course Level' %}</th>
                    <th>{% trans 'Course Start' %}</th>
                    <th>{% trans 'Course End' %}</th>
                    <th>{% trans 'Teacher' %}</th>
                    <th>{% trans 'Active Status' %}</th>
                    <th>{% trans 'Actions' %}</th>
                </tr>
                {% for course in object_list %}
                    <tr {% if not course.is_active %}class="inactive_course"{% endif %}>
                        <td id="code">
                            {{ course.code }}
                        </td>
                        <td id="level">
                            {{ course.level }}
                        </td>
                        <td id="start_date">
                            {{ course.start_date }}
                        </td>
                        <td id="end_date">
                            {{ course.end_date }}
                        </td>
                        <td id="teacher_name">
                            {{ course.teacher.name }}
                        </td>
                        <td id="is_active">
                            {{ course.is_active }}
                        </td>
                        <td>
                            <a id="details_btn" class="btn btn-default" href="{% url 'course_detail' course.id %}">View Course</a>
                        </td>
                    </tr>
                {% empty %}
                    <li>No Courses yet.</li>
                {% endfor %}
            </table>
        </div>
        {% if user|has_role:'manager' or user|has_role:'admin' %}
            <div class="center-block btn-group-vertical">
                <a id="create_btn" class="btn btn-success" href="{% url 'course_create' %}">{% trans "Create Course" %}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
