{% extends "base.html" %}
{% load i18n %}
{% load filters %}

{% block content %}

    <form class="container-fluid" method="post" action=".">
        <h1 class="text-center">Create a Course</h1>
        {% csrf_token %}

        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.level.errors }}
            <label for="{{ form.level.id_for_label }}">Course Level</label>
            {{ form.level|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.client.errors }}
            <label for="{{ form.client.id_for_label }}">Course Client</label>
            <select id="{{ form.client.auto_id }}" name="{{ form.client.name }}" class="form-control" onchange="changed">
                {% for x,y in form.fields.client.choices %}
                    <option value="{{ x }}"{% if form.fields.client.choices == x %} selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            {{ form.address.errors }}
            <label for="{{ form.address.id_for_label }}">Course Address (Where the class will take place)</label>
            {{ form.address|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.schedule.errors }}
            <label for="{{ form.schedule.id_for_label }}">Course Schedule (e.g. Every Thursday at 5pm)</label>
            {{ form.schedule|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.start_date.errors }}
            <label for="{{ form.start_date.id_for_label }}">Course Start Date</label>
            {{ form.start_date|add_css:"form-control datepicker" }}
        </div>
        <div class="form-group">
            {{ form.end_date.errors }}
            <label for="{{ form.end_date.id_for_label }}">Course End Date</label>
            {{ form.end_date|add_css:"form-control datepicker" }}
        </div>
        <h5 class="text-center">
            Filter your students by client or name by clicking the box below and typing in the search box!
        </h5>
        <div class="form-group">
            {{ form.students.errors }}
            <label for="{{ form.students.id_for_label }}">Enrolled Students</label>
            {{ form.students|add_css:"form-control multiselect_field" }}
        </div>
        <div class="form-group">
            {{ form.teacher.errors }}
            <label for="{{ form.teacher.id_for_label }}">Course Teacher</label>
            {{ form.teacher|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.duration.errors }}
            <label for="{{ form.duration.id_for_label }}">Course Duration</label>
            {{ form.duration|add_css:"form-control" }}
        </div>
        <div class="center-block btn-group-vertical">
            <input id="create_btn" class="btn btn-success create_btn" type="submit" value="{% trans 'Create Course' %}" />
        </div>

    </form>
{% endblock %}
