{% extends "base.html" %}
{% load i18n %}
{% load filters %}

{% block content %}
    <h1 class="text-center">Create Students</h1>
    <div class="text-center">

        {% for dict in formset.errors %}
            {% for error in dict.values %}
                <h4>In form {{ forloop.counter }}:</h4> <span style="color: red">{{ error }}</span>
            {% endfor %}
        {% endfor %}

    </div>
    <form class="container-fluid" method="post" action="">
        {% csrf_token %}
        {{ formset.management_form }}
        <table>
            {% for form in formset %}
                <h1>{{ forloop.counter }}</h1>
                {% csrf_token %}

                {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.name.errors }}
                    <label for="{{ form.name.id_for_label }}">Student Name</label>
                    {{ form.name|add_css:"form-control" }}
                </div>
                <div class="form-group">
                    {{ form.email.errors }}
                    <label for="{{ form.email.id_for_label }}">Student Email:</label>
                    {{ form.email|add_css:"form-control" }}
                </div>
                <div class="form-group">
                    {{ form.phone.errors }}
                    <label for="{{ form.phone.id_for_label }}">Student Phone Number:</label>
                    {{ form.phone|add_css:"form-control" }}
                </div>
                <div class="form-group">
                    {{ form.client.errors }}
                    <label for="{{ form.client.id_for_label }}">Client:</label>
                    {{ form.client|add_css:"form-control" }}
                </div>
                <div class="form-group">
                    {{ form.sales_associates.errors }}
                    <label for="{{ form.sales_associates.id_for_label }}">Sales Associates</label>
                    {{ form.sales_associates|add_css:"form-control multiselect_field" }}
                </div>
                <div class="center-block btn-group-vertical">
                    <input data-toggle="tooltip"
                           data-placement="bottom"
                           title="You can create as many students as you want using this screen.
                           They can be from different clients.
                           You don't have to fill out all the student forms.
                           If you'd like to create more than 6, just replace the 6 in the URL for whatever number you want!"
                           class="btn btn-success"
                           type="submit"
                           value="{% trans 'Create all Students' %}" />
                </div>
            {% endfor %}
        </table>
        <input type="submit" value="{% trans 'Submit' %}" />
    </form>
{% endblock %}