{% extends "base.html" %}
{% load i18n %}
{% load filters %}

{% block content %}
    <form class="container-fluid" method="post" action=".">
        {% csrf_token %}

        <h1 class="text-center">Update Period</h1>
        {% csrf_token %}

        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.start_date.errors }}
            <label for="{{ form.start_date.id_for_label }}">start date:</label>
            {{ form.start_date|add_css:"form-control datepicker" }}
        </div>
        <div class="form-group">
            {{ form.end_date.errors }}
            <label for="{{ form.end_date.id_for_label }}">end date:</label>
            {{ form.end_date|add_css:"form-control datepicker" }}
        </div>
        <div class="center-block btn-group-vertical">
            <input id="update_btn" class="btn btn-success" type="submit" value="{% trans 'Update Period' %}" />
{#            <a class="btn btn-default" href="{% url 'teacher_detail' teacher.id %}">{% trans "Back to Teacher Details" %}</a>#}
        </div>
    </form>
{% endblock %}
