{% extends "base.html" %}
{% load i18n %}
{% load filters %}

{% block content %}
    <form class="container-fluid" method="post" action=".">
        {% csrf_token %}

        <h1 class="text-center">Create a Period for Course {{ course.code }}</h1>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.start_date.errors }}
            <label for="{{ form.start_date.id_for_label }}">Start date:</label>
            {{ form.start_date|add_css:"form-control datepicker" }}
        </div>
        <div class="form-group">
            {{ form.end_date.errors }}
            <label for="{{ form.end_date.id_for_label }}">End date:</label>
            {{ form.end_date|add_css:"form-control datepicker" }}
        </div>
        <div class="center-block btn-group-vertical">
            <input id="update_btn" class="btn btn-success create_btn" type="submit" value="{% trans 'Create Period' %}" />
            <a class="btn btn-default" href="{% url 'course_detail' course.id %}">{% trans "Back to Course Details" %}</a>
        </div>

    </form>
{% endblock %}
