{% extends "base.html" %}
{% load filters %}
{% load i18n %}
{% load staticfiles %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <h1 class="text-center">Students</h1>
        <h5 class="text-center">
            Create, update and delete students for all your clients on this page.
        </h5>
        {% if user|has_role:'manager' or user|has_role:'admin' %}
            <div class="center-block btn-group-vertical form-group">
                <a id="top_create_btn" class="btn btn-success" href="{% url 'student_create' %}">{% trans "Create Student" %}</a>
                <a class="btn btn-success" href="{% url 'multiple_student_create' 6 %}">{% trans "Create Multiple Students" %}</a>
            </div>
        {% endif %}
        <form method="get" action="{% url 'student_list' %}" class="form-group">
            <div class="row">
                <div class="col-xs-3">
                    <label>Name</label>
                    <input class="form-control" type="text" value="{{student_name}}" name="student_name" placeholder="Name">
                </div>
                <div class="col-xs-3">
                    <label>Email</label>
                    <input class="form-control" type="text" value="{{student_email}}" name="student_email" placeholder="Email"/>
                </div>
                <div class="col-xs-3">
                    <label>Phone</label>
                    <input class="form-control" type="text" value="{{student_phone}}" name="student_phone" placeholder="Phone"/>
                </div>
                <div class="col-xs-3">
                    <label>Client</label>
                    <input class="form-control" type="text" value="{{client}}" name="client" placeholder="Client"/>
                </div>
            </div>
            <div class="center-block btn-group-vertical">
                <input id="filter_btn" class="btn btn-primary" type="submit" value="{% trans 'Filter students' %}"/>
            </div>
        </form>
        <div class="table-responsive" id="student_table">

            <table class="table table-bordered">
                <tr>
                    <th onclick="sortTable(0)" style="cursor:pointer">{% trans 'Student Name' %}<span id="col-0"></span></th>
                    <th onclick="sortTable(1)" style="cursor:pointer">{% trans 'Email' %}<span id="col-1"></span></th>
                    <th onclick="sortTable(2)" style="cursor:pointer">{% trans 'Phone' %}<span id="col-2"></span></th>
                    <th onclick="sortTable(3)" style="cursor:pointer">{% trans 'Client' %}<span id="col-3"></span></th>
                    <th>{% trans 'Actions' %}</th>
                </tr>
                {% for student in object_list %}
                    <tr>
                        <td id="name">
                            {{ student.name }}
                        </td>
                        <td id="email">
                            <a href="mailto:{{ student.email }}">{{ student.email }}</a>
                        </td>
                        <td id="phone">
                            {{ student.phone }}
                        </td>
                        <td id="client">
                            {{ student.client.name }}
                        </td>
                        <td>
                            <a id="details_btn" class="btn btn-default" href="{% url 'student_detail' student.id %}">View Student Details</a>
                        </td>
                    </tr>
                {% empty %}
                    <li>No Students yet.</li>
                {% endfor %}
            </table>
        </div>
        {% if user|has_role:'manager' or user|has_role:'admin' %}
            <div class="center-block btn-group-vertical">
                <a id="bottom_create_btn" class="btn btn-success" href="{% url 'student_create' %}">{% trans "Create Student" %}</a>
                <a class="btn btn-success" href="{% url 'multiple_student_create' 6 %}">{% trans "Create Multiple Students" %}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
<script src="{% static "js/site.js" %}"></script>
