{% extends "base.html" %}
{% load filters %}
{% load i18n %}

{% block content %}
    <div class="container-fluid">
        <h1 class="text-center">Student Details - {{ student.name }}</h1>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td>Client</td>
                    <td id="client_name">{{ student.client.name }}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td id="name">{{ student.name }}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td id="phone">{{ student.phone }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td id="email">{{ student.email }}</td>
                </tr>
                <tr>
                    <td>Sales Associates</td>
                    <td id="name">
                        {% for associate in student.sales_associates.all %}
                            {% if associate.first_name %}
                                {{ associate.first_name }} {{ associate.last_name }}
                            {% else %}
                                {{ associate }}
                            {% endif %}
                            {% if forloop.counter < client.sales_associates.count %},
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>

        <h1>{% trans 'Courses' %}</h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>{% trans 'Course Code' %}</th>
                    <th>{% trans 'Course Level' %}</th>
                    {% if user|has_role:'manager' or user|has_role:'admin' %}
                        <th>{% trans 'Actions' %}</th>
                    {% endif %}

                </tr>
                {% for course in student.course_set.all %}
                    <tr>
                        <td>
                            {{ course.code }}
                        </td>
                        <td>
                            {{ course.level }}
                        </td>
                        {% if user|has_role:'manager' or user|has_role:'admin' %}
                            <td>
                                <a class="btn btn-default" href="{% url 'course_detail' course.id %}">View Course</a>
                            </td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <li>No Courses yet.</li>
                {% endfor %}
            </table>
        </div>
        {% if user|has_role:'manager' or user|has_role:'admin' %}
            <div class="center-block btn-group-vertical">
                <a class="btn btn-default" href="{% url 'student_list' %}">Back to Student List</a>
                <a id="edit_btn" class="btn btn-default" href="{% url 'student_update' student.id %}">Edit Student</a>
                <a id="delete_btn" class="btn btn-danger" href="{% url 'student_delete' student.id %}">Delete Student</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
