{% extends "base.html" %}
{% load i18n %}
{% load filters %}

{% block content %}
    <form class="container-fluid" method="post" action=".">
        <h1 class="text-center">Edit Student - {{ student.name }}</h1>
        {% csrf_token %}

        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}">Student Name</label>
            {{ form.name|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}">Student Email:</label>
            {{ form.email|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.phone.errors }}
            <label for="{{ form.phone.id_for_label }}">Student Phone Number:</label>
            {{ form.phone|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.client.errors }}
            <label for="{{ form.client.id_for_label }}">Client:</label>
            {{ form.client|add_css:"form-control" }}
        </div>
        <div class="form-group">
                {{ form.sales_associates.errors }}
                <label for="{{ form.sales_associates.id_for_label }}">Sales Associates</label>
                {{ form.sales_associates|add_css:"form-control multiselect_field" }}
            </div>

        <div class="center-block btn-group-vertical">
            <input id="update_btn" class="btn btn-success" type="submit" value="{% trans 'Update Student' %}" />
            <a class="btn btn-default" href="{% url 'student_detail' student.id %}">{% trans "Back to Student Details" %}</a>
        </div>
    </form>
{% endblock %}
