{% extends "base.html" %}
{% load i18n %}
{% load filters %}

{% block content %}
    <form class="container-fluid" method="post" action=".">
        {% csrf_token %}

        <h1 class="text-center">Create a Teacher</h1>
        {% csrf_token %}

        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">Teacher Username (for signing in):</label>
            {{ form.username|add_css:"form-control" }}
        </div>
        <p>The new teacher's password is 'changeme'. Please ask them to change it!</p>
        <div class="form-group">
            {{ form.first_name.errors }}
            <label for="{{ form.first_name.id_for_label }}">First Name:</label>
            {{ form.first_name|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.last_name.errors }}
            <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
            {{ form.last_name|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}">Email (for teacher notifications):</label>
            {{ form.email|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.phone.errors }}
            <label for="{{ form.phone.id_for_label }}">Phone Number:</label>
            {{ form.phone|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.country.errors }}
            <label for="{{ form.country.id_for_label }}">Country of Origin:</label>
            {{ form.country|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.specialty.errors }}
            <label for="{{ form.specialty.id_for_label }}">Specialty:</label>
            {{ form.specialty|add_css:"form-control" }}
        </div>
        <div class="center-block btn-group-vertical">
            <input id="create_btn" class="btn btn-success" type="submit" value="{% trans 'Create Teacher' %}" />
            <a class="btn btn-default" href="{% url 'teacher_list' %}">{% trans "Back to Teacher List" %}</a>
        </div>
    </form>
{% endblock %}
