{% extends "base.html" %}
{% load i18n %}
{% load filters %}

{% block content %}
    <form class="container-fluid" method="post" action=".">
        {% csrf_token %}

        <h1 class="text-center">Update Teacher - {{ teacher.name }}</h1>
        {% csrf_token %}

        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}">Teacher Name:</label>
            {{ form.name|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}">Email (for teacher notifications):</label>
            {{ form.email|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.phone.errors }}
            <label for="{{ form.phone.id_for_label }}">Phone Number:</label>
            {{ form.phone|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.country.errors }}
            <label for="{{ form.country.id_for_label }}">Country of Origin:</label>
            {{ form.country|add_css:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.specialty.errors }}
            <label for="{{ form.specialty.id_for_label }}">Specialty:</label>
            {{ form.specialty|add_css:"form-control" }}
        </div>
        <div class="center-block btn-group-vertical">
            <input id="update_btn" class="btn btn-success" type="submit" value="{% trans 'Update Teacher' %}" />
            <a class="btn btn-default" href="{% url 'teacher_detail' teacher.id %}">{% trans "Back to Teacher Details" %}</a>
        </div>
    </form>
{% endblock %}
