{% extends "base.html" %}
{% load filters %}
{% load i18n %}

{% block content %}

    <h1 class="text-center">Teacher Detail</h1>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <td>Name</td>
                <td id="name">{{ teacher.name }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td class="teacher_email">{{ teacher.email }}</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td id="phone">{{ teacher.phone }}</td>
            </tr>
            <tr>
                <td>Country of Origin</td>
                <td id="country">{{ teacher.country }}</td>
            </tr>
            <tr>
                <td>Specialty</td>
                <td id="specialty">{{ teacher.specialty }}</td>
            </tr>
        </table>
    </div>

    <h1>{% trans 'Courses Assigned' %}</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th>{% trans 'Course Code' %}</th>
                <th>{% trans 'Course Level' %}</th>
                <th>{% trans 'Actions' %}</th>
            </tr>
            {% for course in teacher.course_set.all %}
                <tr>
                    <td>
                        {{ course.code }}
                    </td>
                    <td>
                        {{ course.level }}
                    </td>
                    <td>
                        <a class="btn btn-default" href="{% url 'course_detail' course.id %}">View Course</a>
                    </td>
                </tr>
            {% empty %}
                <li>No Courses yet.</li>
            {% endfor %}
        </table>
    </div>
    <div class="center-block btn-group-vertical">
        <a class="btn btn-default" href="{% url 'teacher_list' %}">Back to Teacher List</a>
        <a id="edit_btn" class="btn btn-default" href="{% url 'teacher_update' teacher.id %}">{% trans 'Edit Teacher' %}</a>
        <a id="delete_btn" class="btn btn-danger" href="{% url 'teacher_delete' teacher.id %}">{% trans 'Delete Teacher' %}</a>
    </div>

{% endblock %}
