{% extends "base.html" %}
{% load filters %}
{% load i18n %}

{% block content %}
    <div class="container-fluid">
        <h1 class="text-center">Teachers</h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>{% trans 'Teacher Name' %}</th>
                    <th>{% trans 'Username' %}</th>
                    <th>{% trans 'Email' %}</th>
                    <th>{% trans 'Phone' %}</th>
                    <th>{% trans 'Country' %}</th>
                    <th>{% trans 'Specialty' %}</th>
                    <th>{% trans 'Actions' %}</th>
                </tr>
                {% for teacher in object_list %}
                    <tr>
                        <td id="name">
                            {{ teacher.name }}
                        </td>
                        <td id="username">
                            {{ teacher.user.username }}
                        </td>
                        <td id="email">
                            <a href="mailto:{{ teacher.email }}" target="_blank">{{ teacher.email }}</a>
                        </td>
                        <td id="phone">
                            {{ teacher.phone }}
                        </td>
                        <td id="country">
                            {{ teacher.country }}
                        </td>
                        <td id="specialty">
                            {{ teacher.specialty }}
                        </td>
                        <td>
                            <a id="details_btn" class="btn btn-default" href="{% url 'teacher_detail' teacher.id %}">Teacher Details</a>
                        </td>
                    </tr>
                {% empty %}
                    <li>No Students yet.</li>
                {% endfor %}
            </table>
        </div>
        {% if user|has_role:'manager' or user|has_role:'admin' %}
            <div class="center-block btn-group-vertical">
                <a id="create_btn" class="btn btn-success" href="{% url 'teacher_create' %}">{% trans "Create Teacher" %}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
